/* FORM */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: rgb(211,234,233);
}
.container h1 {
    color: rgb(254,233,225);

}
.container {
    margin: auto;
    padding: 2rem;
    background-color: rgb(254,144,122);
    color: rgb(254,233,225);
    padding: 2rem 5rem;
    /* display: flex; */
}
.form-group {
    padding: 1rem;
}
input[type=submit] {
    background-color: rgb(254,233,225);
    color: rgb(254,144,122);
    border: none;
    padding: 1rem;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    justify-content: center;

}

.btn-jumbotron {
    background-color: rgb(254,233,225);
    color: rgb(254,144,122);
    border: none;
    padding: 1rem;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-jumbotron a {
    color: rgb(254,144,122);
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}