table {
  border-collapse: collapse;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

th,
td {
  border: 1px solid rgb(254, 233, 225);
  padding: 5px;
  text-align: center;
}

table th {
  background-color: rgb(254, 144, 122);
}

.input-set {
  width: 80%;
  margin: 10px 0;
}

.input-set label {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  color: rgb(254, 144, 122);
}
